

form{width: 400px; margin: 20px auto;
position: relative;
}
.ajaxgif{position:absolute; bottom:12px; right:-20px;}
.hide{display:none;}
.caja1 {width:700px; margin: auto;}

 /*#read{
		 display:none;
	 }
	 .excerpt{
		 display:none;
	 }*/
	 .oculto {display:none}
	 .btncris{
	 text-align: center;
	 display: block;
	 margin: 0 auto;
	 -webkit-transition: all .15s ease-in-out;
	 transition: all .15s ease-in-out;
	 background: #E0E0E0;
	 color: #000000;
	 width: 663px;
	 border: 1px solid #ddd;
	 border-radius: 2px;
	 text-transform: capitalize;
	 padding-left:0px;
	 padding-right:0px;
	 padding-top:0px;
	 padding-bottom:0px
	 height: 8px;
	 cursor:pointer;
			  }
  @media only screen and (max-width: 728px) {
	#read{
	   width: auto;
	  }	
 }
	  @media only screen and (max-width: 400px) {
	 .oculto {display:none}
	 #read{
		  display:block;
	   width: auto;
	  }	
		  .excerpt{
		  display:block;
	  }
		  .btncris{
	 text-align: center;
	 display: block;
	 margin: 0 auto;
	 -webkit-transition: all .15s ease-in-out;
	 transition: all .15s ease-in-out;
	 background: #F6F6F6;
	 color: #969292;
	 width: 100%;
	 border: 1px solid #ddd;
	 border-radius: 2px;
	 text-transform: capitalize;
	 padding-left:0px;
	 padding-right:0px;
	 padding-top:0px;
	 padding-bottom:0px
	 height: 8px;
	 cursor:pointer;
			  }
 }